body {
    background-color:#005bbc;
    color: #FFFFFF;
   }
   h1 {
    color: #ffd600;
    text-align: center;
    font: italic 200% fantasy;
   }
   p {
    background-color:#ffd600;
    color: #005bbc;
    text-align: center;
    border: 3px groove #ffd600;
   }